<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>元素周期表</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
        <script src="http://cdn.static.runoob.com/libs/jquery/1.11.0/jquery.min.js"></script>
        <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/website">稀贵金属材料基因组数据库</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Apps
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Crystal Structure</a></li>
                            <li><a href="#">Electronic Structure</a></li>
                            <li><a href="#">Phonon Dispersions</a></li>
                            <li><a href="#">Thermodynamics</a></li>
                            <li><a href="#">Publications</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Publications</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
            </div>
        </nav>

        <div style="padding: 20px 100px 10px;">
            <form class="bs-example bs-example-form" role="form">
                <div class="row">
                    <div class="col-lg-6 col-md-offset-3">
                        <div class="input-group">
                            <input type="text" class="form-control"  placeholder="搜索材料">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div><!-- /input-group -->
                        <br>
                        <p class="text-center"><b>Materials Genome Database of Refractory Metals and Alloys</b></p>
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </form>
        </div>

		<div class="main">
			<table>
				<tr>
					<td class="htmlColor">html</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td class="tableColor">col</td>
					<td class="tableColor">table</td>
				</tr>
				<tr>
					<td class="headColor">head</td>
					<td class="inlineColor">span</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td class="blockColor">div</td>
					<td class="formColor">fieldset</td>
					<td class="formColor">form</td>
					<td class="titleColor">body</td>
					<td class="titleColor">h1</td>
					<td class="titleColor">section</td>
					<td class="tableColor">colgroup</td>
					<td class="tableColor">tr</td>
				</tr>
				<tr>
					<td class="headColor">title</td>
					<td class="inlineColor">a</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td class="blockColor">pre</td>
					<td class="formColor">meter</td>
					<td class="formColor">select</td>
					<td class="titleColor">aside</td>
					<td class="titleColor">h2</td>
					<td class="titleColor">header</td>
					<td class="tableColor">caption</td>
					<td class="tableColor">td</td>
				</tr>
				<tr>
					<td class="headColor">meta</td>
					<td class="inlineColor">rt</td>
					<td class="inlineColor">dfn</td>
					<td class="inlineColor">em</td>
					<td class="inlineColor">i</td>
					<td class="inlineColor">small</td>
					<td class="inlineColor">ins</td>
					<td class="inlineColor">s</td>
					<td class="blockColor">br</td>
					<td class="blockColor">p</td>
					<td class="blockColor">blockquote</td>
					<td class="formColor">legend</td>
					<td class="formColor">optgroup</td>
					<td class="titleColor">address</td>
					<td class="titleColor">h3</td>
					<td class="titleColor">nav</td>
					<td class="menuColor">menu</td>
					<td class="tableColor">th</td>
				</tr>
				<tr>
					<td class="headColor">base</td>
					<td class="inlineColor">rp</td>
					<td class="inlineColor">abbr</td>
					<td class="inlineColor">time</td>
					<td class="inlineColor">b</td>
					<td class="inlineColor">strong</td>
					<td class="inlineColor">del</td>
					<td class="inlineColor">kbd</td>
					<td class="blockColor">hr</td>
					<td class="blockColor">ol</td>
					<td class="blockColor">dl</td>
					<td class="formColor">label</td>
					<td class="formColor">option</td>
					<td class="formColor">datalist</td>
					<td class="titleColor">h4</td>
					<td class="titleColor">acticle</td>
					<td class="menuColor">command</td>
					<td class="tableColor">tbody</td>
				</tr>
				<tr>
					<td class="headColor">link</td>
					<td class="headColor">noscript</td>
					<td class="inlineColor">q</td>
					<td class="inlineColor">var</td>
					<td class="inlineColor">sub</td>
					<td class="inlineColor">mark</td>
					<td class="inlineColor">bdi</td>
					<td class="inlineColor">wbr</td>
					<td class="blockColor">figcaption</td>
					<td class="blockColor">ul</td>
					<td class="blockColor">dt</td>
					<td class="formColor">input</td>
					<td class="formColor">output</td>
					<td class="formColor">keygen</td>
					<td class="titleColor">h5</td>
					<td class="titleColor">footer</td>
					<td class="menuColor">summary</td>
					<td class="tableColor">thead</td>
				</tr>
				<tr>
					<td class="headColor">style</td>
					<td class="headColor">script</td>
					<td class="inlineColor">cite</td>
					<td class="inlineColor">samp</td>
					<td class="inlineColor">sup</td>
					<td class="inlineColor">ruby</td>
					<td class="inlineColor">bdo</td>
					<td class="inlineColor">code</td>
					<td class="blockColor">figure</td>
					<td class="blockColor">li</td>
					<td class="blockColor">dd</td>
					<td class="formColor">textarea</td>
					<td class="formColor">button</td>
					<td class="formColor">progress</td>
					<td class="titleColor">h6</td>
					<td class="titleColor">hgroup</td>
					<td class="menuColor">details</td>
					<td class="tableColor">tfoot</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td class="inlineBlockColor">img</td>
					<td class="inlineBlockColor">area</td>
					<td class="inlineBlockColor">map</td>
					<td class="inlineBlockColor">embed</td>
					<td class="inlineBlockColor">object</td>
					<td class="inlineBlockColor">param</td>
					<td class="inlineBlockColor">source</td>
					<td class="inlineBlockColor">iframe</td>
					<td class="inlineBlockColor">canvas</td>
					<td class="inlineBlockColor">track</td>
					<td class="inlineBlockColor">audio</td>
					<td class="inlineBlockColor">video</td>
				</tr>
			</table>
		</div>

		<div class="info">
			<h3></h3>
			<p></p>
			<a href="###">Mozilla,W3C Reference</a>
		</div>
		<div class="end">
			<ul>
				<li><span class="htmlColor"></span>根元素</li>
				<li><span class="headColor"></span>元数据和脚本</li>
				<li><span class="inlineBlockColor"></span>嵌入式内容</li>
			</ul>
			<ul>
				<li><span class="inlineColor"></span>文本级别语义</li>
				<li><span class="blockColor"></span>组合内容</li>
			</ul>
			<ul>
				<li><span class="formColor"></span>表单</li>
				<li><span class="titleColor"></span>文档章节</li>
			</ul>
			<ul>
				<li><span class="tableColor"></span>表格数据</li>
				<li><span class="menuColor"></span>交互元素</li>
			</ul>
		</div>
	</body>
<script>
    $(function(){
	var $td = $("td");
	var $info = $(".info");
	var data;
	$.ajax({
		type:"get",
		url:"/static/js/elements.json",
		async:true,
		success:function(d){
			data = d;
		}
	});
	$td.mouseenter(function(e){
		$(this).mousemove(function(e){
			mousex = e.clientX;
			mousey = e.clientY;
			var $tdCont = $(this).text();
			if($tdCont!= ""){
				$(this).addClass("active");
			}

			for(var attr in data){
				var title = data[attr].name;
				if(title == $tdCont){

					$info.css("display","block");
					$info.find("h3").html("<"+title+">");
					$info.find("p").html(data[attr].value);
					if(mousex > ($(window).width()- $info.width()-10)){
						$info.offset({left:mousex - $info.width()-10,top:mousey+10})
					}else{
						$info.offset({left:mousex +10,top:mousey+10})
					}
				}
			}


		})

	})

	$td.mouseleave(function(){
		$(this).removeClass("active");
		$info.hide();
	})

})
</script>
</html>
