<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <script src="http://cdn.static.runoob.com/libs/jquery/1.11.0/jquery.min.js"></script>
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- bootstrap-table -->
    <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
</head>
<body>
{% include 'top.html' %}
<div class="container">
    {% include 'search.html' %}
    {% include 'PTable.html' %}

    <table id="table" data-toggle="table" data-url="data1.json">
        <thead>
            <tr>
                <th data-field="id">Item ID</th>
                <th data-field="name">Item Name</th>
                <th data-field="price">Item Price</th>
            </tr>
        </thead>
    </table>
</div>
<script>
        {#var $table;#}
        {#//初始化bootstrap-table的内容#}
        {#function InitMainTable () {#}
        {#    //记录页面bootstrap-table全局变量$table，方便应用#}
        {#    var queryUrl = '/static/js/data1.json',#}
        {#    $table = $('#grid').bootstrapTable({#}
        {#        url: '/static/js/data1.json',                      //请求后台的URL（*）#}
        {#        method: 'GET',                      //请求方式（*）#}
        {#        //toolbar: '#toolbar',              //工具按钮用哪个容器#}
        {#        striped: true,                      //是否显示行间隔色#}
        {#        cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）#}
        {#        pagination: true,                   //是否显示分页（*）#}
        {#        sortable: false,                     //是否启用排序#}
                {#sortOrder: "asc",                   //排序方式#}
        {#        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）#}
        {#        pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录#}
        {#        pageSize: rows,                     //每页的记录行数（*）#}
        {#        pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）#}
        {#        search: false,                      //是否显示表格搜索#}
        {#        strictSearch: true,#}
        {#        showColumns: true,                  //是否显示所有的列（选择显示的列）#}
        {#        showRefresh: true,                  //是否显示刷新按钮#}
        {#        minimumCountColumns: 2,             //最少允许的列数#}
        {#        clickToSelect: true,                //是否启用点击选中行#}
        {#        //height: 500,                      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度#}
        {#        uniqueId: "id",                     //每一行的唯一标识，一般为主键列#}
        {#        showToggle: true,                   //是否显示详细视图和列表视图的切换按钮#}
        {#        cardView: false,                    //是否显示详细视图#}
        {#        detailView: false,                  //是否显示父子表#}
        {#        //得到查询的参数#}
        {#        queryParams : function (params) {#}
        {#            //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的#}
        {#            var temp = {#}
        {#                rows: params.limit,                         //页面大小#}
        {#                page: (params.offset / params.limit) + 1,   //页码#}
        {#                sort: params.sort,      //排序列名#}
        {#                sortOrder: params.order //排位命令（desc，asc）#}
        {#            };#}
        {#            return temp;#}
        {#        },#}
        {#        columns: [{#}
        {#            checkbox: true,#}
        {#            visible: true                  //是否显示复选框#}
        {#        }, {#}
        {#            field: 'Name',#}
        {#            title: '姓名',#}
        {#            sortable: true#}
        {#        },  {#}
        {#            field: 'Note',#}
        {#            title: '备注'#}
        {#        }, {#}
        {#            field:'ID',#}
        {#            title: '操作',#}
        {#            width: 120,#}
        {#            align: 'center',#}
        {#            valign: 'middle',#}
        {#            formatter: actionFormatter#}
        {#        }, ],#}
        {#        onLoadSuccess: function () {#}
        {#        },#}
        {#        onLoadError: function () {#}
        {#            showTips("数据加载失败！");#}
        {#        },#}
        {#        onDblClickRow: function (row, $element) {#}
        {#            var id = row.ID;#}
        {#            EditViewById(id, 'view');#}
        {#        },#}
        {#    });#}
        {# }; #}
    $('#table').bootstrapTable({
        url: '/static/js/data1.json',
        {#striped: true,                      //是否显示行间隔色#}
        {#cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）#}
        pagination: true,                   //是否显示分页（*）
        {#sortable: false,                     //是否启用排序#}
        {#sortOrder: "asc",                   //排序方式#}
        {#sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）#}
        {#pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录#}
        {#pageSize: rows,                     //每页的记录行数（*）#}
        {#pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）#}
        {#search: false,                      //是否显示表格搜索#}

        columns: [{
            field: 'ID',
            title: 'Item ID'
        }, {
            field: 'Name',
            title: 'Item Name'
        }, {
            field: 'Note',
            title: 'Item Price'
        }, ]
});
</script>
</body>
</html>